#{extends 'main.html' /}
#{set title:'Home' /}
<div id="centered">
	<div class="right"><img src="@{'/public/images/logo.png'}"></div>
	<form action="@{CreatePaste.create()}" method="POST">
		<label>Title:<input type="text" name="title" /></label>
		<label>Author:<input type="text" name="author" /></label>
		<label>Type:</label> 
		<select name="contentType">
    		<option>ActionScript</option> 
    		<option>Bash (shell)</option> 
    		<option>C#</option> 
    		<option>C/C++</option> 
    		<option>CSS</option> 
    		<option>Diff</option> 
    		<option>Go</option> 
    		<option>HTML (ERB / Rails)</option> 
    		<option>HTML / XML</option> 
    		<option selected="selected">Java</option> 
    		<option>Javascript</option> 
    		<option>Objective-C/C++</option> 
    		<option>Perl</option> 
    		<option>PHP</option> 
    		<option>Plain text</option> 
    		<option>Python</option> 
    		<option>Ruby</option> 
    		<option>Ruby on Rails</option> 
    		<option>SQL</option> 
    		<option>YAML</option>
    		<option>?</option>
		</select>
	    <textarea name="content" cols=80 rows=30></textarea><br />
	    <div class="right"><button type="submit">Submit</button></div>
	</form>
</div>
