.lsb {
    background-position: center bottom;
    border: medium none;
    color: #000000;
    cursor: pointer;
    font: 15px arial,sans-serif;
    height: 30px;
    margin: 0;
    vertical-align: top;
    outline: 0 none;
}

.lsbb {
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #CCCCCC #999999 #999999 #CCCCCC;
    border-right: 1px solid #999999;
    border-style: solid;
    border-width: 1px;
    height: 30px;
    display: block;
}

span.ds {
    border-bottom: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    margin: 3px 0 4px 4px;
}

.ds {
    height: 32px;
    position: relative;
    z-index: 100;
    display: -moz-inline-box;
}

input {
    -moz-box-sizing: content-box;
}

input {
    font-family: inherit;
}