#metadata {
	background-color: #fffbd7;
	border: #aa9900 solid 1px;
	padding: 5px;
	width: 500px;
    margin:10px auto auto auto;
    border-collapse:separate;
    border-spacing:7px;
}

table{
    margin:auto;
    min-width:500px;
    border-collapse:separate;
    border-spacing:7px;
}
#metadata, label {

	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;

}

label{
    margin:0px 5px 10px 0px;
	font-weight: bold;
    display:inline-block;
}

input{
    width:125px;
    margin-left:5px;
}

input[name=title]{
    width:200px;
}

textarea{
    width:100%;    
}

input[type=submit]{
    margin-top:10px;    
    font-family:Arial;
    font-size:14px;
}
pre.line_numbers {
    background-color: #ECECEC;
    border-right: 1px solid #DDDDDD;
    color: #AAAAAA;
    padding: 1em 0.5em;
    text-align: right;
    width:30px;
    cursor: pointer; cursor: hand;
}

pre.code {
	margin-left: 2px;
}

div.line {
	margin-left: 8px;
}

span.ep {
	color: #7f0055;
	font-weight: bold;
}
