pre.line_numbers {
    background-color: #ECECEC;
    border-right: 1px solid #DDDDDD;
    color: #AAAAAA;
    padding: 1em 0.5em;
    text-align: right;
    width:30px;
}

pre.code {
	margin-left: 2px;
}

div.line {
	margin-left: 8px;
}

span.ep {
	color: #7f0055;
	font-weight: bold;
}