#metadata {
	background-color: #fffbd7;
	border: #aa9900 solid 1px;
	padding: 5px;
	width: 500px;
}

#metadata, .label {

	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;

}

.bold {
	font-weight: bold;
}

pre.line_numbers {
    background-color: #ECECEC;
    border-right: 1px solid #DDDDDD;
    color: #AAAAAA;
    padding: 1em 0.5em;
    text-align: right;
    width:30px;
    cursor: pointer; cursor: hand;
}

pre.code {
	margin-left: 2px;
}

div.line {
	margin-left: 8px;
}

span.ep {
	color: #7f0055;
	font-weight: bold;
}