#{extends 'main.html' /}
#{set title:'Home' /}

<table id="metadata">
	#{if paste.title}
		<tr><td width="90px"><span class="bold">Title:</span></td><td>${paste.title}</td></tr>		
	#{/if}
	#{if paste.author}
		<tr><td width="90px"><span class="bold">Author:</span></td><td>${paste.author}</td></tr>
	#{/if}
	#{if paste.contentType}
		<tr><td width="90px"><span class="bold">Content Type:</span></td><td>${paste.contentType}</td></tr>
	#{/if}
	<tr><td width="90px"><span class="bold">Created:</span></td><td>${paste.createdOn.since()}</td></tr>
</table>

<table cellspacing="0" cellpadding="0">
	        <tbody><tr>
	          <td><pre class="line_numbers">          
#{list items:lines, as:'line'}<span id="LID${line_index}">${line_index}</span>
#{/list}
				</pre>
	          </td>
	          <td><pre><code>#{list items:lines, as:'line'}${line}#{/list}</code></pre></td>
			</tr>
		</tbody>
</table>
